.box {
    flex: 0 1 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header nav h3 a {
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
}

header nav h3::after {
    display: block;
    content: '';
    border-bottom: 3px solid #d42026;
    width: 54px;
}

header span {
    margin-left: 10px;
    font-size: 27px;
    font-weight: lighter;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}
