<div class="container">
    <section class="search">
        <form>
            <label for="" class="color-primary">Nome do Personagem</label>
            <input type="text" [(ngModel)]="search" name="search" (keyup)="handleOnTyping()">
        </form>
    </section>

    <section class="list">
        <div class="wrapper">
            <div class="single">
                <ul class="header">
                    <li class="title">Personagem</li>
                </ul>
            </div>
    
            <div class="single">
                <ul class="header">
                    <li class="title">Descrição</li>
                </ul>
            </div>
        </div>

        <div class="items-wrapper" *ngFor="let character of filteredCharacters">
            <div class="single">
                <div class="profile">
                    <img src="{{ character.image }}" class="img-profile" alt="">
                    <span>{{ character.name }}</span>
                </div>        
            </div>
                        
            <div class="single">
                <div class="description">
                    <span>{{ character.description }}</span>
                </div>
            </div>
        </div>
    </section>
</div>