<div class="container">
    <section class="search">
        <label for="" class="color-primary">Nome do Personagem</label>
        <input type="text" name="" id="">
    </section>

    <section class="list">
        <div class="wrapper">
            <div class="single">
                <ul class="header">
                    <li class="title">Personagem</li>
                </ul>
            </div>
    
            <div class="single">
                <ul class="header">
                    <li class="title">Descrição</li>
                </ul>
            </div>
        </div>

        <div class="items-wrapper">
            <div class="single">
                <div class="profile">
                    <img src="/assets/profile-02.jpg" class="img-profile" alt="">
                    <span>Tony Stark</span>
                </div>        
            </div>
                        
            <div class="single">
                <div class="description">
                    <span>Um bilionário, gênio, playboy, filantrópo e o Homem de Ferro</span>
                </div>
            </div>
        </div>

        <div class="items-wrapper">
            <div class="single">
                <div class="profile">
                    <img src="/assets/profile-02.jpg" class="img-profile" alt="">
                    <span>Tony Stark</span>
                </div>        
            </div>
                        
            <div class="single">
                <div class="description">
                    <span>Um bilionário, gênio, playboy, filantrópo e o Homem de Ferro</span>
                </div>
            </div>
        </div>

        <div class="items-wrapper">
            <div class="single">
                <div class="profile">
                    <img src="/assets/profile-02.jpg" class="img-profile" alt="">
                    <span>Tony Stark</span>
                </div>        
            </div>
                        
            <div class="single">
                <div class="description">
                    <span>Um bilionário, gênio, playboy, filantrópo e o Homem de Ferro</span>
                </div>
            </div>
        </div>
    </section>
</div>