<div class="container-list">
    <section class="search">
        <form>
            <label for="" class="color-primary">Nome do Personagem</label>
            <input type="text" [(ngModel)]="search" name="search" (keyup)="handleOnTyping()">
        </form>
    </section>

    <section class="list">
        <div class="wrapper">
            <div class="single">
                <ul class="header">
                    <li class="title">Personagem</li>
                </ul>
            </div>
    
            <div class="single hidden-sm">
                <ul class="header">
                    <li class="title">Descrição</li>
                </ul>
            </div>
        </div>

        <div class="items-wrapper" *ngFor="let character of filteredCharacters">
            <div class="single">
                <a href="#" routerLink="/details/{{ character.id }}">
                    <div class="profile">
                        <img src="{{ character.image }}" class="img-profile" alt="">
                        <span>{{ character.name }}</span>
                    </div>       
                </a>
            </div>
            
            <div class="single hidden-sm">
                <a href="#" routerLink="/details">
                    <div class="description">
                        <span>{{ character.description }}</span>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <ul class="pagination">
        <li>
            <button class="icon" [ngClass]="{ 'active' : (page == 1) }" (click)="handlePreviousPage()">
                <fa-icon [icon]="faCaretLeft"></fa-icon>
            </button>
        </li>
        <li 
            *ngFor="let i of counter(pages)" 
            [ngClass]="{ 'active' : (i + 1 == page) }"
            >
            <button (click)="handlePagination(i)">{{ i + 1 }}</button>
        </li>
        <li>...</li>
        <li><button class="icon" [ngClass]="{ 'active' : (page == filter.maxPage) }" (click)="handleNextPage()"><fa-icon [icon]="faCaretRight"></fa-icon></button></li>
    </ul>    
</div>