@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    font: 14px Roboto, sans-serif !important;
    height: 100%;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

.color-primary {
    color: #d42026;    
}